@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Roboto');

a {
  font-family: 'Fredoka One', cursive;
  text-decoration: none;
  color: #491D2C;
}

a:hover {
  color: #E9CAD0;
}

a:visited {
  color: #491D2C;
}

a:visited:hover {
  color: #E9CAD0;
}

a#shallotTitle {
  font-size: 3.3vw;
}

header {
  text-align: center;
  margin-top: 5vw;
}
